.DS_Store
*~
*.swp
.idea/
.vscode/
*.log

.env
.env.*
!.env.example

dashboard/log/*
!dashboard/log/.keep
dashboard/tmp/*
!dashboard/tmp/.keep
dashboard/tmp/pids/*
dashboard/tmp/cache/*
dashboard/tmp/sockets/*
dashboard/storage/*

dashboard/public/assets
dashboard/public/packs
dashboard/public/packs-test

dashboard/node_modules/
dashboard/yarn-error.log

dashboard/config/master.key
dashboard/config/credentials.yml.enc

dashboard/db/*.sqlite3
dashboard/db/*.sqlite3-journal
dashboard/db/*.sqlite3-[0-9]*

worker/lib/
worker/.shards/

worker/bin/
worker/*.dwarf

parser/target/
